.scoreboard {
    margin: 20px;
  }
  
  .teams {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 20px; */
    align-items: center;

  }
  
  .team {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .score {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  